@model AgingInHome.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="maincontainer">
    <div class="listingDiv article ">
     
            <div class="col-lg-offset-3 col-md-6 register">
                <h1 class="title">
                    <span class="bg">
                        Register
                        <br />
                        <span class="orangeTxt">Create a new account</span>
                    </span>
                </h1>
                <hr />

                @Html.ActionLink("New Consumer", "ConsumerRegister", "Account", null, new { @class = "btn btn-info form-control", @style = "margin-bottom: 8px;" })
                @Html.ActionLink("New Service Provider", "BecomeProvider", "providerListing", null, new { @class = "btn btn-warning form-control" })
            </div>
            @*@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Create a new account.</h4>
                    <hr />
                    <div class="col-md-6">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserRole)
                           @Html.DropDownListFor(m => m.UserRole, Model.Roles, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <div class="pull-right">
                                <input type="submit" class="btn btn-primary registerbtn" value="Register" />
                            </div>
                        </div>
                    </div>
                }*@
        </div>
    </div>


@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
