@model List<AgingInHome.Models.ServicesModel>
<div style="margin: 0px 25px;">
    <table class="table table-bordered table-hover">
        <tr style="background:#EDEDED;">
            <th>Services</th>
            <th>Amount</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <span>$</span>
                    @if (item.PromoteType == "OnlyOne")
                    {
                        @item.OnetimePrice
                    }
                    else
                    {
                        @item.RecPrice
                    }
                </td>
            </tr>
        }
        <br />
        <tr></tr>
<tr style="background:#EDEDED;">
            <th>Subtotal</th>
    <th>
        <span>$</span>
                @if (Model.FirstOrDefault().PromoteType == "OnlyOne")
                {
                    @Model.Sum(f => f.OnetimePrice)
                }
                else
                {
                    @Model.Sum(d => d.RecPrice)
                }
        </tr>
        <tr style="background:silver;color:white">
            <th>Total</th>
            <th id="totalprice">

                <span>$</span>
                @if (Model.FirstOrDefault().PromoteType == "OnlyOne")
                {
                    @Model.Sum(f => f.OnetimePrice)
                }
                else
                {
                   @Model.Sum(d => d.RecPrice)
                }
            </th>
        </tr>
    </table><br />
</div>

